body {
    margin: 0;
    overflow: hidden;
    font-family: "Cherry Bomb One", serif;
}

h1 {
    display: flex;
    width: 270px;
    height: 201px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFF;
    font-family: "Cherry Bomb One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

strong {
    color: var(--VERMELHO-HELL, #F00);
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-family: "Cherry Bomb One";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

strong {
    color: red;
}

/* Canvas do Three.js fica por baixo do menu */
canvas {
    display: block;
}

/* Barra lateral, inicialmente visível */
#sidebar {
    position: fixed;
    display: flex;
    width: 25vw;
    height: 100vh;
    padding: 10px 9px 42px 9px;
    flex-direction: column;
    align-items: flex-start;
    gap: 113px;
    z-index: 9999;

    border: 3px solid #F5F5F5;
    background: var(--ROSA-PRINCIPAL, #FF1493);
}

#options-menu {
    display: flex;
    width: 300px;
    height: 265px;
    padding: 13px 12px 12px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 10px;
    background: var(--BRANCO-BRANCO, #FFF);
}

/* Classe que move a barra para fora da tela (slide para a esquerda) */
#sidebar.slide-out {
    transform: translateX(-300px);
}

.botao-menu {
    font-family: "Cherry Bomb One", serif;
    font-size: 20px;
    font-style: normal;
    display: flex;
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    color: black;
}

.botao-menu:hover {
    color: var(--VERMELHO-HELL, #ff0000);
}